<h1>Listing response_items</h1>

<table>
  <tr>
    <th>Response</th>
    <th>Question</th>
    <th>Selectionnumber</th>
    <th>Selectionitem</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @response_items.each do |response_item| %>
  <tr>
    <td><%= response_item.response_id %></td>
    <td><%= response_item.question %></td>
    <td><%= response_item.selectionNumber %></td>
    <td><%= response_item.selectionItem %></td>
    <td><%= response_item.Comment %></td>
    <td><%= link_to 'Show', response_item %></td>
    <td><%= link_to 'Edit', edit_response_item_path(response_item) %></td>
    <td><%= link_to 'Destroy', response_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response item', new_response_item_path %>
