 <h3>ユーザー一覧</h3>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>ユーザーID</th>
    <th>ユーザー名</th>
    <th>直近のお客様</th>
    <th>直近のプロジェクト</th>
    <th>常駐</th>
    <th>出向</th>
    <th>id</th>
	<th>admin</th>
    <th></th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.user_id %></td>
    <td><%= u.user_name %></td>
    <td><%= u.recent_customer %></td>
    <td><%= u.recent_project %></td>
    <td><%= u.resident %></td>
    <td><%= u.transfferred %></td>
    <td><%= u.id %></td>
    <td><%= u.isAdmin? %></td>
    <td><%= link_to t('Show'), admin_show_user_path(u), method: :show %>
	<% if can? :update,@users %>
	  <%= link_to t('Edit'), edit_user_registration_path(u) %>
	  <%= link_to t('become'), sign_in_as_another_user_path(u.id) %>
	  <%= link_to t('Destroy'), admin_destroy_user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>

</table>
<%= will_paginate @users, :previous_label=>'≪前', :next_label=>'次≫' %>
<hr>
<%= form_tag({controller: "user", action: "upload", method: "post"}, {multipart: true}) do %>
  <h5>ユーザー登録（追加用）:（*.csv）</h5>
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= select_tag 'userRoll', options_for_select({"" => "", "管理者" => "admin", "常駐者" => "author"})  %>
  <br />
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>
<br />

<br/>
<%= link_to t("Back"), :back %>
