 <h1>ユーザー一覧</h1>

<table>
  <tr>
    <th>id</th>
    <th>ユーザーID</th>
    <th>ユーザー名</th>
    <th>直近のお客様</th>
    <th>直近のプロジェクト</th>
    <th>常駐</th>
    <th>出向</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.user_id %></td>
    <td><%= u.user_name %></td>
    <td><%= u.recent_customer %></td>
    <td><%= u.recent_project %></td>
    <td><%= u.resident %></td>
    <td><%= u.transfferred %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(u) %></td>
	<td><%= link_to 'Destroy', admin_destroy_user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @users, :previous_label=>'≪前', :next_label=>'次≫' %>
<br/>
<%= form_tag './upload', :multipart => true do %>
  ユーザー一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしてよろしいですか？" %>
<% end %>
<br />
<%= link_to "Back", :back %>
