<p id="notice"><%= notice %></p>

<p>
  <b>User_id:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>User_name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to t("Back"), :back %>
