<p id="notice"><%= notice %></p>

<p>
  <b>User_id:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>User_name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<hr>
<h4>ユーザー情報</h4>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>年月</th>
    <th>残業時間</th>
    <th>お客様名</th>
    <th>アンケート依頼日</th>
    <th>アンケート回答日</th>
    <th>Regident</th>
    <th>Transffered</th>
  </tr>

<% @user.user_states.each do |item| %>
  <tr>
    <td><%= item.targetYMD %></td>
    <td><%= item.over_time %></td>
    <td><%= item.csname %></td>
    <td><%= item.request_date %></td>
    <td><%= item.respose_date %></td>
    <td><%= item.resident %></td>
    <td><%= item.transfferred %></td>
  </tr>
<% end %>
</table>



<%= link_to t("Back"), :back %>
