<p id="notice"><%= notice %></p>

<p>
  <b>User_id:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>User_name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<hr>
<h4>ユーザー情報</h4>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>年月</th>
    <th>残業時間</th>
    <th>お客様名</th>
    <th>依頼日</th>
    <th>回答日</th>
    <th>Regident</th>
    <th>Transffered</th>
  </tr>

<% @user.user_states.each do |item| %>
  <tr>
    <td><%= item.targetYMD %></td>
    <td><%= item.over_time %></td>
    <td><%= item.csname %></td>
    <td><%= item.request_date %></td>
    <td><%= item.respose_date %></td>
    <td><%= item.resident %></td>
    <td><%= item.transfferred %></td>
  </tr>
<% end %>
</table>

</p>
<br />
<div id="chart_div"></div>
<br />

<!------------------------------------------------------------------------>
<!-- AJAX API のロード -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

// Visualization API と折れ線グラフ用のパッケージのロード
google.load("visualization", "1", {packages:["timeline"]});

// Google Visualization API ロード時のコールバック関数の設定
google.setOnLoadCallback(drawChart);

// グラフ作成用のコールバック関数
function drawChart() {

	// データテーブルの作成
	var dataTable = new google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'csname' });
    dataTable.addColumn({ type: 'string', id: 'ymd' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    
    for (var row in gon.graph_data){
 	      dataTable.addRow([ gon.graph_data[row][0], gon.graph_data[row][1], new Date(gon.graph_data[row][2], gon.graph_data[row][3], gon.graph_data[row][4]),  new Date(gon.graph_data[row][5], gon.graph_data[row][6], gon.graph_data[row][7]) ])
      }
    
    //dataTable.addRows(gon.graph_data)

	// グラフのオプションを設定
	var options = {avoidOverlappingGridLines: true};
    
	// LineChart のオブジェクトの作成
	var chart = new google.visualization.Timeline(document.getElementById('chart_div'));

	// データテーブルとオプションを渡して、グラフを描画
	chart.draw(dataTable, options);

}
</script>

<%= link_to t("Back"), :back %>
