<h3>質問項目一覧</h3>

<table class="table table-striped table-bordered table-condensed">

  <tr>
    <th>質問番号</th>
    <th>質問</th>
    <th>選択肢1</th>
    <th>選択肢2</th>
    <th>選択肢3</th>
    <th>選択肢4</th>
    <th></th>
  </tr>

<% @questionitems.each do |questionitem| %>
  <tr>
    <td><%= questionitem.id %></td>
    <td><%= questionitem.question %></td>
    <td><%= questionitem.answer1_item %></td>
    <td><%= questionitem.answer2_item %></td>
    <td><%= questionitem.answer3_item %></td>
    <td><%= questionitem.answer4_item %></td>
    <td>
      <%= link_to t('Show'), questionitem %>
      <%= link_to t('Edit'), edit_questionitem_path(questionitem) %>
      <%= link_to t('Destroy'), questionitem, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '質問項目登録', new_questionitem_path %>
