<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>質問番号:</b>
  <%= @questionitem.id %>
</p>

<p>
  <b>質問:</b>
  <%= @questionitem.question %>
</p>

<p>
  <b>選択肢1:</b>
  <%= @questionitem.answer1_item %>
</p>

<p>
  <b>選択肢2:</b>
  <%= @questionitem.answer2_item %>
</p>

<p>
  <b>選択肢3:</b>
  <%= @questionitem.answer3_item %>
</p>

<p>
  <b>選択肢4:</b>
  <%= @questionitem.answer4_item %>
</p>


<%= link_to 'Edit', edit_questionitem_path(@questionitem) %> |
<%= link_to 'Back', questionitems_path %>
