<%= form_for(@uploaded_user_state) do |f| %>
  <% if @uploaded_user_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uploaded_user_state.errors.count, "error") %> prohibited this uploaded_user_state from being saved:</h2>

      <ul>
      <% @uploaded_user_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  
  <div class="field">
    <%= f.label :客先常駐者情報のアップロード %><br />
    <%= f.file_field :csvfile %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
