<h1>Listing uploaded_user_states</h1>

<table>
  <tr>
    <th>path</th>
	<th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploaded_user_states.each do |uploaded_user_state| %>
  <tr>
    <td><%= uploaded_user_state.csvfilePath %></td>
    <td><%= uploaded_user_state.comment %></td>
    <td><%= link_to 'Show', uploaded_user_state %></td>
    <td><%= link_to 'Edit', edit_uploaded_user_state_path(uploaded_user_state) %></td>
    <td><%= link_to 'Destroy', uploaded_user_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uploaded user state', new_uploaded_user_state_path %>
