
<% if current_user.requested? %>
  <p><%= link_to '回答依頼があります', new_response_path %></p>
<% else %>
  <p>回答依頼はありません</p>
<% end %>

<p><%= link_to '回答結果一覧', responses_path %></p>

<% if can? :update,@menus %>
  <hr>
  <p><%= link_to '回答依頼作成', request_questionnaires_path %><p>
  <p><%= link_to '管理部門トピック作成', topics_path %><p>
  <p><%= link_to 'CSVアップロード', user_states_path %></p>
  <p><%= link_to 'ユーザー一覧', list_users_path %></p>
  <p><%= link_to '顧客一覧', customers_path %></p>
  <hr>
  <p><%= link_to 'メンテナンス設定', statuses_path %></p>
  <p><%= link_to 'ひな型作成', questionnaires_path %></p>
  <p><%= link_to '質問項目作成', questionitems_path %></p>
<% end %>

<hr>
