<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Contents:</b>
  <%= @topic.contents %>
</p>

<p>
  <b>Effective to:</b>
  <%= @topic.effective_to %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
