<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= simple_format(@topic.title) %>
</p>

<p>
  <b>Contents:</b>
  <%= simple_format(@topic.contents) %>
</p>

<p>
  <b>Effective to:</b>
  <%= @topic.effective_to %>
</p>

<% if can? :update,@topics %>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<% end %>

<%= link_to 'Back', topics_path %>