<h1>Listing request_questionnaires</h1>

<table>
  <tr>
    <th>User</th>
    <th>Questionnaire</th>
    <th>Target year</th>
    <th>Target month</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @request_questionnaires.each do |request_questionnaire| %>
  <tr>
    <td><%= request_questionnaire.user_id %></td>
    <td><%= request_questionnaire.questionnaire_id %></td>
    <td><%= request_questionnaire.target_year %></td>
    <td><%= request_questionnaire.target_month %></td>
    <td><%= link_to 'Show', request_questionnaire %></td>
    <td><%= link_to 'Edit', edit_request_questionnaire_path(request_questionnaire) %></td>
    <td><%= link_to 'Destroy', request_questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request questionnaire', new_request_questionnaire_path %>
