<p>
  <b>Title:</b>
  <%= @request_questionnaire.questionnaire.title %>
</p>

<p>
  <b>Target year:</b>
  <%= @request_questionnaire.target_year %>
</p>

<p>
  <b>Target month:</b>
  <%= @request_questionnaire.target_month %>
</p>

<p>
  <b>resident:</b>
  <% #@request_questionnaire.resident %>
</p>

<p>
  <b>transfferred:</b>
  <% #@request_questionnaire.transfferred %>
</p>

<p>
  <b>mail_tilte:</b>
  <%= @request_questionnaire.mail_tilte %>
</p>
<p>
  <b>mail_banner:</b>
  <%= @request_questionnaire.mail_banner %>
</p>
<p>
  <b>mail_content:</b>
  <%= @request_questionnaire.mail_content %>
</p>
<p>
  <b>mail_trailer:</b>
  <%= @request_questionnaire.mail_trailer %>
</p>

<p>
  <b>day_of_mail_sent:</b>
  <% @request_questionnaire.day_of_mail_sent %>
</p>

<p> <b>---- list of mail recievers below ----</b></p>
<table>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>resident</th>
    <th>transfferred</th>
    <th>request</th>
  </tr>

<% User.all.each do | user | %>
  <tr>
    <td><%= user.user_id %></td>
    <td><%= user.user_name %></td>
    <td><%= user.resident %></td>
    <td><%= user.transfferred %></td>
    <td><%= user.request_questionnaire_id %></td>
  </tr>
<% end %>
</table>
<br />
<%= form_for(@request_questionnaire, :url => {:action => 'sendRequestMail' + '/ ' + @request_questionnaire.id.to_s} ) do |f| %>
  <div class="actions">
    <%= f.submit '依頼メールを送信する' , data: { confirm: '対象者に依頼メールを送信していいですか?' } %>
  </div>
<% end %>

<%= link_to 'Edit', edit_request_questionnaire_path(@request_questionnaire) %> |
<%= link_to 'Back', request_questionnaires_path %>
