<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request_questionnaire.questionnaire.title %>
</p>

<p>
  <b>Target year:</b>
  <%= @request_questionnaire.target_year %>
</p>

<p>
  <b>Target month:</b>
  <%= @request_questionnaire.target_month %>
</p>

<p>
  <b>resident:</b>
  <% #@request_questionnaire.resident %>
</p>

<p>
  <b>transfferred:</b>
  <% #@request_questionnaire.transfferred %>
</p>

<p> for test </p>
<table>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>resident</th>
    <th>transfferred</th>
    <th>request</th>
  </tr>

<% User.all.each do | user | %>
  <tr>
    <td><%= user.user_id %></td>
    <td><%= user.user_name %></td>
    <td><%= user.resident %></td>
    <td><%= user.transfferred %></td>
    <td><%= user.request_questionnaire_id %></td>
  </tr>
<% end %>
</table>




<%= link_to 'Edit', edit_request_questionnaire_path(@request_questionnaire) %> |
<%= link_to 'Back', request_questionnaires_path %>
