<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :pjName %><br />
    <%= f.text_field :pjName %>
  </div>
  <div class="field">
    <%= f.label :targetYear %><br />
    <%= f.number_field :targetYear %>
  </div>
  <div class="field">
    <%= f.label :targetMonth %><br />
    <%= f.number_field :targetMonth %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>

  <br>
  <table>
    <tr>
      <th>質問</th>
      <th>回答</th>
      <th>コメント</th>
    </tr>
  
    <% @response.response_items.each do |res_i| %>
	  <%= f.fields_for :response_items, res_i do |item| %>
        <tr>
        <td><%= res_i.question %></td>
        <td></td>
        <td><%= item.text_field :Comment %></td>
	    </tr>
      <% end %>	
	<% end %>
  </table>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
