<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ユーザー名 %>
    <%= @response.user.user_name %>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :targetYMD %>
    <%= @response.targetYMD %>
    <%= f.hidden_field :target_year %>
	<%= f.hidden_field :target_month %>
  </div>
  <div class="field">
    <%= f.label :顧客名 %>
    <%= @response.customer.csname %>
    <%= f.hidden_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :pj_name %>
    <%= @response.pj_name %>
    <%= f.hidden_field :pj_name %>
  </div>

  <hr>

  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th COLSPAN="2">質問</th>
      <tr></tr>
      <th>回答</th>
      <th>コメント</th>
    </tr>
  
    <% i = 0 %>
    <% @response.response_items.each do |res_i| %>
	  <%= f.fields_for :response_items, res_i do |item| %>
        <tr>
        <td COLSPAN="2"><%= res_i.question %></td>
        <tr></tr>
		<td><%= item.collection_select :selection_item, 
            @response.questionnaire.questionitems[i].answers_select, :last, :first, :include_blank => true %></td>
        <td><%= item.text_area :comment, :size=>"60x4" %></td>
		<%= item.hidden_field :question %>
		<% i = i + 1 %>
	    </tr>
      <% end %>	
	<% end %>
  </table>
   
  <div class="field">
    <%= f.label :その他コメント %><br />
    <%= f.text_area :comment, :size=>"110x4" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
