<h1>Listing responses</h1>

<table>
  <tr>
    <th>顧客名</th>
    <th>プロジェクト名</th>
    <th>対象年</th>
    <th>対象月</th>
    <th>コメント</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.customer.csname %></td>
    <td><%= response.pjName %></td>
    <td><%= response.targetYear %></td>
    <td><%= response.targetMonth %></td>
    <td><%= response.comment %></td>
    <td><%= link_to 'Show', response %></td>
    <td><%= link_to 'Edit', edit_response_path(response) %></td>
    <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response', new_response_path %>
