<p>
  <b>ユーザー名:</b>
  <%= @response.user.user_name %>
</p>

<p>
  <b>顧客名:</b>
  <%= @response.customer.csname %>
</p>

<p>
  <b>プロジェクト名:</b>
  <%= @response.pj_name %>
</p>

<p>
  <b>対象年月:</b>
  <%= @response.targetYMD %>
</p>

<p>
  <b>その他コメント:</b>
  <%= @response.comment %>
</p>

<%= image_tag(@response.picture_url, :width => 200) if @response.picture.present? %>

<hr>

<h4>回答明細</h4>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>質問</th>
    <th>回答</th>
    <th>コメント</th>
  </tr>

<% @response.response_items.each do |response_item| %>
  <tr>
    <td><%= response_item.question %></td>
    <td><%= response_item.selection_item %></td>
    <td><%= response_item.comment %></td>
  </tr>
<% end %>
</table>


<%= link_to t('Edit'), edit_response_path(@response) %> |
<%= link_to t('Back'), responses_path %>
