<p>
  <b>ユーザー名:</b>
  <%= @response.user.user_name %>
</p>

<p>
  <b>顧客名:</b>
  <%= @response.customer.csname %>
</p>

<p>
  <b>プロジェクト名:</b>
  <%= @response.pjName %>
</p>

<p>
  <b>対象年月:</b>
  <%= @response.targetYMD %>
</p>

<p>
  <b>その他コメント:</b>
  <%= @response.comment %>
</p>

<h3>回答明細</h3>
<table>
  <tr>
    <th>質問</th>
    <th>回答</th>
    <th>コメント</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @response.response_items.each do |response_item| %>
  <tr>
    <td><%= response_item.question %></td>
    <td><%= response_item.selection_item %></td>
    <td><%= response_item.comment %></td>
    <td><%= link_to 'Show', response_item %></td>
    <td><%= link_to 'Edit', edit_response_item_path(response_item) %></td>
    <td><%= link_to 'Destroy', response_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
