<p>
  <b>User:</b>
  <%= @response.user.email %>
</p>

<p>
  <b>Customer:</b>
  <%= @response.customer.csname %>
</p>

<p>
  <b>Pjname:</b>
  <%= @response.pjName %>
</p>

<p>
  <b>Targetyear:</b>
  <%= @response.targetYear %>
</p>

<p>
  <b>Targetmonth:</b>
  <%= @response.targetMonth %>
</p>

<p>
  <b>その他コメント:</b>
  <%= @response.comment %>
</p>

<h3>回答明細</h3>
<table>
  <tr>
    <th>質問</th>
    <th>回答</th>
    <th>コメント</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @response.response_items.each do |response_item| %>
  <tr>
    <td><%= response_item.question %></td>
    <td><%= response_item.selectionItem %></td>
    <td><%= response_item.Comment %></td>
    <td><%= link_to 'Show', response_item %></td>
    <td><%= link_to 'Edit', edit_response_item_path(response_item) %></td>
    <td><%= link_to 'Destroy', response_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
