<h3>アンケート一覧</h3>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>番号</th>
    <th>タイトル</th>
    <th>有効期限from</th>
    <th>有効期限to</th>
    <th></th>
  </tr>

<% @questionnaires.each do |questionnaire| %>
  <tr>
    <td><%= questionnaire.id %></td>
    <td><%= questionnaire.title %></td>
    <td><%= questionnaire.effective_from %></td>
    <td><%= questionnaire.effective_to %></td>	
    <td>
      <%= link_to t('Show'), questionnaire %>
      <%= link_to t('Edit'), edit_questionnaire_path(questionnaire) %>
      <%= link_to t('Destroy'), questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'アンケート一覧登録', new_questionnaire_path %>
