<p id="notice"><%= notice %></p>

<p>
  <b>番号:</b>
  <%= @questionnaire.id %>
</p>

<p>
  <b>タイトル:</b>
  <%= @questionnaire.title %>
</p>

<p>
  <b>有効期限from:</b>
  <%= @questionnaire.effectiveFrom %>
</p>

<p>
  <b>有効期限to:</b>
  <%= @questionnaire.effectiveTo %>
</p>


<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
