<!DOCTYPE html>
<html>
<head>
  <title>PjSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <table>
    <tr>
    <td>~〇-〇~　客先みえるくん　~〇-〇~　　　</td>
    <td>
     <Div Align="right">
      <%= link_to "⇒ログアウト", destroy_user_session_path,:method => "DELETE" %>
     </Div>
    </td>
    </tr>
    </table>
  <% end %>

<%= yield %>

<br />
<%= link_to_unless_current 'MainMenu', :controller => :menu, :action => :index %>
</body>
</html>
